body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

.upper-gap {
  padding: 25px 0;
}

section {
  position: relative;
}

.circle-slider-wrap .circle-position-parent {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #f7f3f0;
}
.circle-slider-wrap .circle-position-parent .circle-position-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.circle-slider-wrap .circle-position-parent .circle-position-wrapper .circle-position-sticky {
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  left: 0;
  overflow: hidden;
  display: flex;
  width: 72%;
  height: 100vh;
  clip: rect(0, auto, auto, 0);
  top: 0;
  align-self: flex-start;
}
.circle-slider-wrap .circle-position-parent .circle-position-wrapper .circle-position-sticky .circle-bg-main {
  flex: 0 0 61%;
  max-width: 61%;
  padding: 40px;
  margin: 0;
  width: 100%;
  background: url(../img/operiamo-circle-slider-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.circle-slider-wrap .circle-position-parent .circle-position-wrapper .circle-position-sticky .circle-bg-main .circle-canvas {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.circle-slider-wrap .circle-position-parent .circle-position-wrapper .circle-position-sticky .circle-bg-main .circle-canvas .canvas-content {
  position: relative;
  left: 18%;
  top: 10%;
}
.circle-slider-wrap .circle-position-parent .circle-position-wrapper .circle-position-sticky .circle-bg-main .circle-canvas .canvas-content canvas {
  border-radius: 100%;
}
.circle-slider-wrap .circle-position-parent .circle-content {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #f7f3f0;
  border-radius: 20px 0 0 0;
  color: #f3f1ee;
  height: 100vh;
  max-width: none;
  width: 50%;
  left: 50%;
}
.circle-slider-wrap .circle-position-parent .circle-content .circle-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f3f1ee;
  overflow-y: scroll;
}
.circle-slider-wrap .circle-position-parent .circle-content .circle-content-wrapper ul.content-list {
  height: 50%;
  padding-left: 18px;
  list-style: none;
}
.circle-slider-wrap .circle-position-parent .circle-content .circle-content-wrapper ul.content-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 40px 0 80px;
  background-color: #f7f3f0;
  position: unset;
  max-width: 580px;
}
.circle-slider-wrap .circle-position-parent .circle-content .circle-content-wrapper ul.content-list li span.t-h2 {
  font-size: 76px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
  color: #000;
}
.circle-slider-wrap .circle-position-parent .circle-content .circle-content-wrapper ul.content-list li span.desc {
  font-size: 29px;
  font-weight: 200;
  line-height: 30px;
  color: #121212;
}
.circle-slider-wrap .circle-position-parent .circle-content .circle-content-wrapper::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=style.css.map */